.productDetails {
  margin-top: 7rem;
  min-width: 301px;
}
.productImage {
  min-width: 30%;
  max-width: 40%;
  float: left;
  margin: auto 35px;
}
.details {
  float: left;
  margin-left: auto;
  min-width: 301px;
}
.quantity {
  display: inline-block;
  margin-left: 1rem;
  height: 15px;
  padding: 15px;
  width: 50px;
  outline: none;
  border-radius: .5rem;
}
p.productInfo {
  font-size: 1.2rem;
}
button.productBtn{
  padding: 10px;
  min-width: 150px;
  border-radius: 20px;
  font-size: 16px;
  margin-right: .5rem;
}
button.deleteButton{
  padding: 10px;
  min-width: 150px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 900;
  background-color: rgb(119, 18, 18);
}
.moveRight{
  margin-left: 1rem;
  font-weight: 900;
}
