.cartHeader {
  margin-top: 4rem;
}
h2.topSpace {
  margin-bottom: 3rem;
}
input.qty {
  float: left;
  outline: none;
}
button.salesButton {
  padding: .8rem;
  border-radius: 1rem;
  font-weight: 800;
  font-size: 1.3rem;
  float: right;
}
table.responsiveTable {
  overflow-x: auto;
  margin: auto;
}