// .navBar {
//   background-color: #35072c;
//   color: #ffffff;
//   padding-top: 20px;
//   min-height: 70px;
//   position: sticky;
//   width: 100%;
//   z-index: 10000;
//   top: 0;

//   font: {
//     family: Lato;
//     size: 2rem;
//     weight: 300;
//   }
// }
header {
	background-color: #35072C;
	color: #ffffff;
	padding-top: 20px;
	min-height: 70px;
	position: sticky;
	width: 100%;
	z-index: 10000;
	top: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
header #logo {
  float: left;
}
