@import '../../partial-styles/styles.scss';

footer {
  padding: 10px;
  background-color: $maincolor;
  color: #ffffff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 2rem;
}
@media only screen and (max-width: 900px) {
  footer {
    position: inherit;
    margin-top: 2rem;
  }
}