@import './colors.scss';
@import './fonts.scss';

.wrapper {
  width: 80%;
  margin: auto;
}

body {
  font-family: Lato;
  line-height: 1.5;
  background-color: #f4f4f4;
}
button {
  color: #ffffff;
  background-color: #8B4513;
  min-width: 20%;
  cursor: pointer;
}
input {
  display: block;
  line-height: 1.5;
  margin: 20px auto 7px auto;
  margin-bottom: 7px;
  padding: 10px;
  min-width: 30%;
}
.error {
  color: $red;
}

header {
  color: $white;
}
