@import '../../partial-styles/colors.scss';

.ui.basic.button.newProduct, .ui.basic.buttons .button {
  background: transparent none !important;
  color: $maincolor;
  font-weight: 400;
  border-radius: .28571429rem;
  text-transform: none;
  text-shadow: none !important;
  box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.15) inset;
  border-style: double;
  border-color: $maincolor;
  margin-top: 1rem;
}
.ui.button.viewDetails {
  background: #8B4513;
  color: $white;
}
.ui.card.products {
  margin: {
    left: 2rem;
    bottom: 3rem;
  };
  width: 30%;
  float:left;
  min-width: 300px;
  min-height: 429px;
}
.fullWidth {
  width: 100%;
  margin-bottom: 2rem;
}

.ui.card > .image, .ui.cards > .card > .image {
  position: relative;
  display: block;
  flex: 0 0 auto;
  padding: 0;
  background: rgba(0, 0, 0, 0.05);
  height: 250px;
  min-width: 300px;
}

h2.noProduct {
max-width: 70%;
}
